<%= stylesheet_link_tag "sponsoring" %>

<h1>Sponsoring</h1>

<section id="whatissponsor">
<h2>A quoi ça sert ?</h2>

<p>
  Être sponsor, c'est apporter son soutien à un organisme, une personne, etc... dans un but commercial.
  Ce but est généralement la promotion de produits, de services, et surtout de son image. Bref, il s'agit de visibilité.

</p>

<p>
  Être sponsor pour Paris.rb permet d'obtenir de la visibilité dans la communauté Ruby de façon efficace et facile.
  Actuellement, un recrutement Ruby on Rails coûte entre 8000€ et 15000€ par des biais classiques.
  Nous offrons ici la possibilité aux entreprises de rencontrer directement les membres de la communauté sans avoir à passer par un chasseur de têtes.
</p>
</section>
<section id="visibility">
<h2>La visibilité, oui mais comment ?</h2>

<p>
  <ul>
    <li>sur le meetup : s'y trouver, être mentionné à l'ouverture et visible</li>
    <li>sur les vidéos (quand on peut se payer un caméraman)</li>
    <li>5 minutes de pitch pendant une pause (sauf pour le gold qui permet une prise de parole de 20 minutes)</li>
    <li>Mise en avant d'importance proportionnelle à la formule choisie</li>
  </ul>
</p>
</section>
<section id="tarifs">
<h2>Les formules</h2>


<table>
  <thead>
  <th>Formule</th>
  <th>Durée de Présence</th>
  <th>Vidéos</th>
  <th>Temps de pitch pendant les meetups</th>
  <th>Tarifs</th>
  </thead>
  <tbody>
  <tr>
    <td>Gold</td>
    <td>1 an</td>
    <td>OUI</td>
    <td>20 minutes</td>
    <td>1500€</td>
  </tr>
  <tr>
    <td>Silver</td>
    <td>2 mois</td>
    <td>OUI</td>
    <td>5 minutes</td>
    <td>250€</td>
  </tr>
  <tr>
    <td>Bronze</td>
    <td>1 mois</td>
    <td>OUI</td>
    <td>5 minutes</td>
    <td>150€</td>
  </tr>
  </tbody>
</table>
</section>

<%= link_to 'Retour aux présentations', root_path %>
